:root {
    --primary: #4755AB;
    --secondary: #B162AC;
    --success: #03c895;
    --danger: #ff4f81;
    --heading-color: #2c3038;
    --para-color: #5d6b71;
    --light-bg-color: #E7EDF6;
    --card-shadow: 0 1px 2px 1px rgba(154, 154, 204, .22); }

  
  /*----------------------------
          HEADER SECTION
  -----------------------------*/
  .header {
    background: #FFF;
    height: 60px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.15); }
  
  .header::after {
    clear: both;
    display: block;
    content: ''; }
  
  .toggle-btn {
    display: block;
    font-size: 24px;
    cursor: pointer;
    line-height: 1;
    float: left;
    color: #aaa !important;
    transition: all 0.2s ease-out 0s;
    z-index: 999;
    padding: 10px 20px;
    background: #fff;
    padding-left: 25px;
    width: 100%;
    border-top: 1px solid var(--light-bg-color);
    position: absolute;
    bottom: 0; }
  
  .sidebar-menu-collapsed .toggle-btn {
    padding: 10px;
    text-align: center; }
  
  .toggle-btn span {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #404040;
    margin-left: 15px; }
  
  a.toggle-btn i {
    font-size: 20px;
    color: var(--primary); }
  
  .toggle-btn:hover {
    background: var(--light-bg-color); }
  
  .menu-collapsed__right {
    display: none; }
  
  .menu-collapsed__left {
    display: inline-block; }
  
  .sidebar-menu-collapsed .menu-collapsed__left {
    display: none; }
  
  .sidebar-menu-collapsed .menu-collapsed__right {
    display: inline-block; }
  
  .toggle-btn:hover {
    color: var(--primary); }
  
  .searchform input {
    box-shadow: none;
    float: left;
    font-size: 14px;
    margin: 8px 0 0 10px;
    padding: 7px 10px;
    width: 220px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px; }
  
  .searchform input:focus {
    box-shadow: none;
    border-color: #ddd; }
  
  .logo-co {
    float: left;
    padding: 7px 15px 6px; }
  
  .logo-co a {
    display: block; }
  
  .content-top-gap {
    margin-top: 60px;
    padding: 20px; }
  
  /* ------------------------------
          STICKY HEADER
  ---------------------------------*/
  .sticky-header .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 100;
    text-align: center; }
  
  .logo h1 {
    margin: 0; }
  
  .sticky-header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    z-index: 1; }
  
  .sticky-header .main-content {
    padding-top: 40px; }
  
  .sticky-header .menu-right {
    margin-right: 5px; }
  
  .sticky-header.sidebar-menu-collapsed .header {
    left: 60px; }
  
  .sticky-header.sidebar-menu-collapsed .menu-right {
    margin-right: 0; }
  
  .menu-right {
    margin: 0; }



/*** Profile Details **/
.profile_picture {
    text-align: center; }
  
  .profile_picture a {
    display: block; }
  
  .profile_picture > a {
    display: block;
    margin: 0 auto;
    border-radius: 8em;
    -webkit-border-radius: 8em;
    -moz-border-radius: 8em;
    -o-border-radius: 8em;
    width: 100px;
    height: 100px; }
  
  .profile_picture_name {
    padding-top: 20px; }
  
  .profile_picture_name h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #535351;
    font-weight: 600; }
  
  .profile_picture_name p {
    font-size: 12px;
    color: #BCBCBC;
    line-height: 1.6em; }
  
  .articles_list li {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #F8F8F8; }
  
  .articles_list li a {
    display: block;
    color: #909090;
    font-size: 12px;
    text-align: left;
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
  
  .articles_list li a:hover {
    color: #65CEA7; }
  
  .articles_list li a i {
    display: inline-block;
    margin-right: 8px;
    font-size: 20px;
    vertical-align: top; }
  
  .articles_list li a i span {
    font-size: 25px;
    color: #FFF; }